.Xiaomi {
    background-color: rgba(0, 0, 0, 0.041);
      text-align: center;
      width: 200px;
      margin: 20px;
      margin-top: 20px;
      margin-left: 25%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
      border-radius: 25px;
      font-weight: normal;
  }
  
  
  .col-12 {
      background-color: rgba(245, 208, 153, 0.753);
      margin-left: 10px;
  }
  
  .col-12 img{
      margin-left: 50px;
  }
  
  img{
     margin-top: 20px;
  }
  
  .col-12 button{
      border: 5px;
      width: 110px;
      margin-bottom: 40px;
  }
  
  p{
      color: rgba(15, 15, 15, 0.623);
  }
  
  .pequeño h2{
      margin: 10px;
  }
  
  .Iphone {
      background-color: rgba(0, 0, 0, 0.041);
        text-align: center;
        width: 200px;
        margin: 20px;
        margin-top: 20px;
        margin-left: 25%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
        border-radius: 25px;
        font-weight: normal;
   }
  
   .Samsung{
      background-color: rgba(0, 0, 0, 0.041);
        text-align: center;
        width: 200px;
        margin: 20px;
        margin-top: 20px;
        margin-left: 25%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
        border-radius: 25px;
        font-weight: normal;
    }
    
  h3{
      font-size: 20px;
  }
  
  h2{
      font-size: 18px;
  }
    
  button{
      margin-bottom: 15px;
  }
  
  button img{
      margin-top: -7px;
  }
  